:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}
body {
  background-color: white;
}
header {
  display: flex;
  margin-top: 25px;
  margin-bottom: 50px;
}
.continer {
  width: 1152px;
  margin-left: 146px;
  margin-right: 148px;
  font-family: Heebo;
}
nav {
  margin-left: 800px;
  display: flex;
  gap: 33px;
  margin-top: 27px;
  width: 100%;
}
nav a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 29.38px;
  color: #000000;
  margin-top: 27px;
  cursor: pointer;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 100px;
}

.footer-image {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.footer-image img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.footer p {
  color: #21243d;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  margin-top: 15px;
}

.active {
  text-decoration: underline;
}
.resume {
  display: flex;
  margin-left: 108px;
}
.resume-title {
  color: #21243d;
}
.resume-title h1 {
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
  width: 440px;
  margin-bottom: 40px;
  margin-top: 128px;
}
.resume-title p {
  font-size: 16px;
  font-weight: 400;
  line-height: 23.5px;
  width: 457px;
  margin-bottom: 38px;
}
.resume-title button {
  width: 208px;
  height: 47px;
  border-radius: 2px;
  background-color: #ff6464;
  margin-bottom: 71px;
}
.resume-btn:hover {
  background-color: #f14e4e;
  /* box-shadow: 7px 9px 11px 0px rgba(0, 0, 0, 0.75); */
}
.resume-img img {
  margin-top: 120px;
  width: 263px;
  height: 263px;
  border-radius: 50%;
  margin-left: 215px;
}

/* //Posts */
.posts {
  background-color: #edf7fa;
  width: 1152px;
  height: 396px;
  color: #21243d;
}
.posts-title {
  display: flex;
  justify-content: space-between;
}
.posts-title h3 {
  font-size: 22px;
  font-weight: 400;
  margin-left: 108px;
  margin-top: 7px;
}
.posts-title p {
  font-size: 16px;
  font-weight: 400;
  color: #00a8cc;
  margin-top: 7px;
  margin-right: 108px;
}
.design {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.pattern {
  width: 418px;
  height: 285px;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 4px 21px 7px 23px;
}
.figma {
  width: 418px;
  height: 285px;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 4px 21px 7px 23px;
}
.design h2 {
  font-size: 26px;
  font-weight: 700;
  width: 374px;
  margin-bottom: -5px;
}
.design p {
  font-size: 16px;
  font-weight: 400;
  width: 328px;
}

.years {
  display: flex;
  gap: 25px;
}
.years h4 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}

/* Works */
.work {
  color: #21243d;
  margin-left: 108px;
  margin-bottom: 85px;
}
.works-img img {
  width: 246px;
  height: 180px;
  border-radius: 6px;
}

.Dashboard {
  display: flex;
  gap: 20px;
}
.Illustration {
  display: flex;
  gap: 20px;
}
.Typography {
  display: flex;
  gap: 20px;
}
hr {
  margin-top: 15px;
  margin-bottom: 30px;
  color: #e0e0e0;
}
.dashboard-year {
  display: flex;
  gap: 26px;
}
.work h2 {
  font-size: 30px;
  font-weight: 700;
  margin-top: -10px;
  margin-bottom: 0px;
}
.work p {
  font-size: 16px;
  font-weight: 400;
  width: 534px;
  margin-top: -10px;
}
.work h3 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 18px;
  color: #8695a4;
}
.work h4 {
  font-size: 18px;
  font-weight: 900;
  background-color: #21243d;
  color: #ffffff;
  border-radius: 60%;
  padding: 0 7px 0 7px;
}

/* Blok Boshlandi */
.blog h1 {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 55px;
  color: #21243d;
}
.UI {
  color: #21243d;
}

.UI h3 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 15px;
}
.UI h4 {
  font-size: 20px;
  font-weight: 400;
  color: #8695a4;
}
.blok-year {
  display: flex;
  gap: 25px;
}
.blog-h4 h4 {
  color: #21243d;
}
.chiziqcha {
  margin-top: 30px;
  width: 1px;
  height: 21px;
  background-color: #000000;
}
.UI p {
  font-size: 16px;
  font-weight: 400;
  width: 582px;
}
.hr-blog {
  width: 681px;
  height: 1px;
  border: 1px;
}

/* Work qism */
.work {
  color: #21243d;
}
.work h1 {
  font-size: 44px;
  font-weight: 900;
}

.work h2 {
  font-size: 30px;
  font-weight: 700;
  margin-top: -10px;
  margin-bottom: 0px;
}
.hr-work {
  width: 781px;
  height: 1px;
  border: 1px;
  margin-bottom: 45px;
}
